body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

/* Navbar Styles */
#navbar {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

#navbar ul li a:hover {
    background: #555;
}

/* Wrapper for the entire page */
#main-layout {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: px;
    box-sizing: border-box;
    gap: 20px; /* Adds spacing between columns */
}

/* Left Column */
#left-column {
    flex: 1 1 23%;
    min-width: 200px;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Watchlist Container */
#watchlist-container {
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#toggle-watchlist {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 10px;
    color: #333;
}

#watchlist {
    list-style: none;
    padding: 0;
    display: nne; /* Initially hidden */
    width: 100%;
}

#watchlist.show {
    display: block; /* Ensures the list is shown */
    max-height: 300px; /* Adjust based on your list's height */
    opacity: 1;
}

#watchlist li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;;
}

#watchlist li:hover {
    background-color: #f0f2f5;
    transform: translateX(5px);
}

#stock-symbol {
    font-weight: bold;
}

#stock-price {
    font-size: 1.2rem;
    color: green;
}

/* Adding stocks */
#add-stock {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
  
  #stock-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #add-stock-button {
    position: absolute;
    padding: 5px 10px;
    font-size: 1rem;
    right: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
  }
  
  #add-stock-button:hover {
    background-color: #0056b3;
  }

/* Center Column */
#center-column {
    flex: 2 1 52%;
    min-width: 300px;
    padding: 20px;
}

/* Right Column */
#right-column {
    flex: 1 1 23%;
    min-width: 200px;
    padding: 20px;
    background-color: #e9ecef;
    border-left: 1px solid #ddd;
}
